/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,500,700);

/* get rid of margins on the side of the page */
body {
  margin: 0 !important;
  background-color: #FFFFFF;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* fill in space taken up by navbar */
div.navbarFill {
  height: 30px;
  width: 100%;
}

@media screen and (max-width: 300px) {
  div.navBarFill {
    height: 60px;
  }
}
