/* container */
div.article-container {
  margin: 30px auto;
  padding: 0;
  max-width: 900px;
  overflow: hidden;
}

/* article itself */
div.article {
  padding: 0 10%;
  font-weight: 300;
  font-size: 16px;
}

/* paragraph elements */
div.article p {
  line-height: 24px;
  padding: 0 0 10px 10px;
}

div.article p::first-letter {
  font-size: 115%;
}

/* markup quotes/code */
div.article blockquote {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}

div.article pre {
  display: block;
}

div.article code {
  font-size: 80%;
  background-color: #f7f7f7;
  border-radius: 3px;
}

div.article pre > code {
  display: block;
  margin: 0 10%;
  padding: 16px;
  word-wrap: break-word;
}

/* links */
div.article a {
  font-style: inherit;
  text-decoration: inherit;
  color: #0000FF;
}

div.article a:hover {
  text-decoration: underline;
}

/* lists */
div.article li {
  margin: 0 0 5px 0;
}

div.article ol {
  margin: 0 0 0 10px;
}
