/* container - full browser width */
div.article-header-container {
  position: relative;
  margin: 0;
  padding: 0;

  min-height: 360px;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  color: white;

  overflow: hidden;
  visibility: visible;
}

/*loading overlay */
div.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s;
}

div.overlay#loading {
  /* TODO: a spinner of sorts */
  background-color: white;
}

/* container for the text */
div.article-header {
  padding: 0;
  transition: padding 1s;
}

div.article-header#loading{
  padding: 50px 0;
}

/* post title, subtitle, author */
div.article-header h2,
div.article-header h3,
div.article-header h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* post title */
div.article-header h2 {
  text-transform: uppercase;
  margin: 80px 0 0 0;
  font-size: 30px;
}

/* post subtitle */
div.article-header h3 {
  font-style: italic;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
}

/* author text */
div.article-header h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}

/* post image */
div.article-header img {
  display: block;
  width: 55px;
  height: 55px;
  margin: 40px auto 0;
  border-radius: 50px;
  box-shadow: 0 0 0 2px white;
}
