div.article-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

div.article-listing + div.article-listing {
  border-top: 1px solid lightgray;
  padding: 20px 0;
}

div.article-listing div#author-wrapper {
  flex: 1;
}

div.article-listing div#post-wrapper {
  flex: 2;
}
