/* container - full browser width */
div.article-header-container {
  position: relative;
  margin: 0;
  padding: 0 10%;

  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid lightgray;
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

/* article header */
div.article-header {
  overflow: hidden;
}

/* post title and subtitle */
div.article-header h2,
div.article-header h3 {
  text-align: center;
  text-transform: uppercase;
}

div.article-header h2 {
  margin: 10vh auto;
}

div.article-header h3 {
  margin: 5vh auto;
}

/* post image */
div.article-header img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

/* headers have upcaps */
div.article-header h2::first-letter,
div.article-header h3::first-letter {
  font-size: 150%;
}
