/* container */
div.author-thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 20px 0;
}

div.author-thumbnail img {
  height: 40px;
  width: auto;

  margin: 0 15px;
}

div.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* author name */
div.author-thumbnail h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  color: #733939; 
  text-transform: uppercase;
}

/* date */
div.author-thumbnail h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  color: #626262;
}
