div.navbar-container {
  position: fixed;
  height: 30px;
  width: 100vw;
  background-color: white;

  z-index: 999;
}

@media screen and (max-width: 300px) {
  div.navbar-container {
    height: 60px;
  }
}

div.navbar {
  border-bottom: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* fading logo */
div.navbar-container div.logo {
  position: absolute;
  width: auto;
  height: 20px;
  padding: 5px;
}

@media screen and (max-width: 300px) {
  div.navbar-container div.logo {
    position: relative;
  }
}

div.navbar-container div.logo div#overlay {
  height: 20px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s;
}

div.navbar-container div.logo div#overlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s;
}

div.navbar-container div.logo img {
  height: 20px;
}

/* category links */
div.navbar a {
  position: relative;
  line-height: 30px;
  margin: 0 3% 0 0;

  text-transform: uppercase;
  text-decoration: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 10px;
  color: #7b7b7b;
}

/* selected */
div.navbar a#selected {
  color: black;
}

/* custom underline of selected link */
div.navbar a#selected:before {
  position: absolute;
  bottom: -1px;
  left: -2px;
  height: 1px;
  width: 100%;

  content: "";
  background-color: black;
  border-left: 2px solid darkgray;
  border-right: 2px solid darkgray;
}

/* hovers */
div.navbar a:hover {
  color: black;
}
