/* container */
div.read-next-container {
  margin: 0;
  padding: 0 15%;
  overflow: hidden;

  background-color: #F2F2F2;
  border-top: 1px solid lightgray;
}

/* read-next component */
div.read-next {
  font-size: 14px;
  font-family: Raleway;
}

/* Read Next */
div.read-next-container h5 {
  margin: 10px 20px 10px;
  color: gray;
}
