/* container */
div.read-next-container {
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  max-width: 600px;

  border-top: 1px solid lightgray;
}

/* read-next component */
div.read-next {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
}

/* Read Next */
div.read-next-container h5 {
  margin: 10px 20px 10px;
  color: gray;
}
